:root {
  --background: rgba(21, 23, 25, 0.92);
  --main: #f97316;
  --main2: #bb5c18;
}

body {
  background-color: transparent;
  width: 100%;
  height: 100%;
  user-select: none;
}

.container {
  display: none;
  background-color: var(--background);
  width: 25vw;
  height: 60vh;

  position: relative;
  top: 50%;
  transform: translateY(-50%);

  color: white;
  font-family: "Titillium Web";
  border-radius: 9px;
}

.container #header {
  position: relative;
  height: 15%;
  max-height: 15%;
  text-align: center;
}

.container #header span {
  position: relative;
  top: 30%;
  font-size: 1.5vw;
  font-weight: 700;
}
.container #header #errMessage {
  position: absolute;
  font-weight: 400;
  font-size: 1.3vh;
  width: 100%;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.container #content {
  position: relative;
  height: 50%;
  max-height: 50%;
}

.container #content .scroll-container {
  padding: 0px !important;
  margin: 0px !important;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.container #footer {
  position: relative;
  height: 30%;
  max-height: 30%;

  text-align: center;
  padding-top: 5%;
  font-size: 0.8vw;
}

.container #footer #logo {
  width: 20%;
}

#title {
  font-size: 1vw;
  font-weight: 700;
}

.btn {
  position: relative;
  right: 0vw !important;
  width: 100% !important;
  font-family: "Titillium Web";
  font-weight: 700;
  background-color: var(--main);
}
.btn:hover {
  background-color: var(--main2);
}
.btn:focus {
  background-color: var(--main);
}
#voterow {
  padding-left: 3vw;
  padding-right: 3vw;
  line-height: 1.2rem;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.044);
  border-top: 1px solid rgba(255, 255, 255, 0.044);
}

.claim_code {
  display: none;
  position: relative;
  right: 0vw !important;
  width: 100% !important;
  color: white;
  text-align: center;
  font-family: "Titillium Web";
  font-weight: 700;
} input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  height: 3vh !important;
  line-height: 3vh !important;
} input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--main);
  -webkit-box-shadow: 0 1px 0 0 var(--main);
  box-shadow: 0 1px 0 0 var(--main);
}

.scroll-container::-webkit-scrollbar {
  width: 0.5em;
}
.scroll-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}